<div class="session_new_container">
  <h1>ログイン</h1>
  <div class="session_new_box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form_body_box">
        <div class="form_box">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>
        <div class="form_box">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form_box">
            <%= f.check_box :remember_me %>
            <%= f.label :ログインを維持しますか %>
          </div>
        <% end -%>
        <div class="form_btn_box">
          <%= f.submit "ログイン" %>
        </div>
      </div>
    <% end %>
    <div class="form_render_box">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
