<div class="article_index_container">
  <h1>記事一覧</h1>
  <p><%= notice %></p>
  <div class="articles_index_box">
    <% @articles.each do |article| %>
      <div class="article_index_box">
        <%= link_to article_path(article) do %>
          <div class="article_index_img_box">
            <% if article.image.present? %>
              <%= attachment_image_tag article, :image, :fill, 200, 200, format: "jpg" %>
            <% else %>
              <%= image_tag '/images/article_img_sample.jpg', size: '200x200' %>
            <% end %>
          </div>
          <div class="article_index_title_box">
            『<%= article.article_title %>』
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="paginate_box">
    <%= paginate @articles %>
  </div>
</div>