<div class="admin_cat_history_index_container">
  <h1><%= @user.nickname %>さんの保護ねこ応募者一覧ページ</h1>
  <div class="admin_cat_history_index_box">
    <% if @user_cats.present? %>
      <table>
        <thead>
          <tr>
            <th>応募保護ねこ</th>
            <th>応募者氏名</th>
            <th>応募者TEL</th>
            <th>応募者生年月日</th>
            <th>応募日時</th>
          </tr>
        </thead>
        <tbody>
          <% @user_cats.each do |cat| %>
            <tr>
              <td>
                <%= cat.cat_name %>
              </td>
              <% if cat.order.present? && cat.order.order_name.present? %>
                <td>
                  <%= cat.order.order_name %>
                </td>
                <td>
                  <%= cat.order.order_tel %>
                </td>
                <td>
                  <%= cat.order.order_birth.strftime("%Y年%m月%d日") %>
                </td>
                <td>
                  <%= cat.order.updated_at.in_time_zone('Tokyo')
                      .strftime("%Y年%m月%d日 %H時%M分") %>
                </td>
              <% else %>
                <td colspan="4">
                  まだ応募されていません
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="no_cat">準備中</div>
    <% end %>
  </div>
</div>