<h1><%= @user.nickname %>のマイページ</h1>

<h2><%= @user.nickname %>の保護猫一覧</h2>
<div>
  <% @cats.each do |cat| %>
    <div>
      <%= link_to cat_path(cat) do %>
        <div>なまえ：
          <%= cat.cat_name %>
        </div>
      <% end %>
      <div>品種：
        <%= cat.cat_breed_i18n %>
      </div>
    </div>
  <% end %>
</div>