<header>
  <div class="logo_box"></div>
  <div class="login_box">
    <% if user_signed_in? %>
      <%= current_user.nickname %>でログイン中
    <% end %>
  </div>
</header>
<nav class="header_nav">
  <ul id="header_menu">
    <% if user_signed_in? && current_user.admin == true %>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
        <%= link_to "保護ねこ", cats_path %>
      </li>
      <li>
        <%= link_to "記事", articles_path %>
      </li>
      <li>
        <%= link_to "イベント", events_path %>
      </li>
      <li>
        <%= link_to "つぶやき", posts_path %>
      </li>
      <li>
        <%= link_to '管理者ページ', user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% elsif user_signed_in? && current_user.admin == false %>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
        <%= link_to "保護ねこ", cats_path %>
      </li>
      <li>
        <%= link_to "記事", articles_path %>
      </li>
      <li>
        <%= link_to "イベント", events_path %>
      </li>
      <li>
        <%= link_to "つぶやき", posts_path %>
      </li>
      <li>
        <%= link_to 'マイページ', user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
        <%= link_to "保護ねこ", cats_path %>
      </li>
      <li>
        <%= link_to "記事", articles_path %>
      </li>
      <li>
        <%= link_to "イベント", events_path %>
      </li>
      <li>
        <%= link_to "つぶやき", posts_path %>
      </li>
      <li>
        <%= link_to "会員登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>