<%= render 'datetimepicker' %>
<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div class="form_error_box">
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_body_box">
    <div class="form_box">
      <p>イベント名</p>
      <%= f.text_field :event_title, placeholder: "イベント名を入力" %>
    </div>
    <div class="form_box">
      <p>イベント概要</p>
      <%= f.text_area :event_body, placeholder: "400文字以内で入力" %>
    </div>
    <div class="form_box">
      <p>イベント画像</p>
      <%= f.attachment_field :image %>
    </div>
    <div class="form_box">
      <p>日時</p>
      <div class='input-group date datetimepicker'>
        <%= f.text_field :event_datetime, class: 'form-control' %>
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form_box">
      <p>場所</p>
      <%= f.text_field :event_address, placeholder: "開催場所を入力" %>
    </div>
    <div class="form_box">
      <p>参加可人数</p>
      <%= f.number_field :event_people, placeholder: "参加可人数を入力" %>
    </div>
    <div class="form_box">
      <p>備考</p>
      <%= f.text_field :event_remark, placeholder: "備考を入力" %>
    </div>
    <div class="form_btn_box">
      <%= f.submit %>
    </div>
  </div>
<% end %>