<div class="password_edit_container">
  <h1>パスワードを変更してください</h1>
  <div class="password_edit_box">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form_error_box">
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      </div>
      <div class="form_body_box">
        <div class="form_box">
          <%= f.label :password, "新しいパスワード" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上で設定してください)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
        <div class="form_box">
          <%= f.label :password_confirmation, "新しいパスワード（確認用）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="form_btn_box">
          <%= f.submit "パスワードを再登録" %>
        </div>
      </div>
    <% end %>
    <div class="form_render_box">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
