<div class="password_new_container">
  <h1>パスワードをお忘れですか？</h1>
  <div class="password_new_box">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form_error_box">
        <%= devise_error_messages! %>
      </div>
      <div class="form_body_box">
        <div class="form_box">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="form_btn_box">
          <%= f.submit "パスワード再登録メールを送信します" %>
        </div>
      </div>
    <% end %>
    <div class="form_render_box">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
