<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div class="form_error_box">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_body_box">
    <div class="form_box">
      <p>タイトル</p>
      <%= f.text_field :post_title, placeholder: "タイトルを入力" %>
    </div>
    <div class="form_box">
      <p>本文</p>
      <%= f.text_area :post_body, placeholder: "140文字以内で入力" %>
    </div>
    <div class="form_box">
      <p>ねこ写真</p>
      <%= f.attachment_field :post_images_images, multiple: true %>
    </div>
    <div class="form_btn_box">
      <%= f.submit %>
    </div>
  </div>
<% end %>