<div class="registration_edit_container">
  <h1>プロフィール変更<%#= resource_name.to_s.humanize %></h1>
  <div class="registration_edit_box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form_error_box">
        <%= devise_error_messages! %>
      </div>
      <div class="form_body_box">
        <div class="form_box">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>
        <div class="form_box">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form_box">
          <%= f.label :パスワード %> <i>(変更しない場合は空欄のままで構いません)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %>文字以上で入力してください</em>
          <% end %>
        </div>
        <div class="form_box">
          <%= f.label :確認用パスワード %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="form_box">
          <%= f.label :現在のパスワード %> <i>(プロフィール変更のためには必須となります)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <div class="form_btn_box">
          <%= f.submit "プロフィール変更" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="account_delete_container">
  <h1>アカウント削除</h1>
  <div class="account_delete_box">
    <div class="delete_btn_box">
      <p>MatchingCatを退会する方はこちら</p>
      <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %>
    </div>
  </div>
</div>
